In [1]:
import numpy as np
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
from sklearn import datasets
import pandas as pd

Using TensorFlow backend.

In [3]:
cancer = datasets.load_breast_cancer()
type(cancer)

sklearn.datasets.base.Bunch

In [4]:
cancer.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [5]:
cancer.feature_names

array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension'],
      dtype='<U23')

In [6]:
predictors = cancer.data
target = cancer.target

In [8]:
predictors.shape

(569, 30)

In [9]:
# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

# Set up the model: model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols, )))

# Add the second layer
model.add(Dense(32, activation='relu'))

# Add the output layer
model.add(Dense(1))

In [10]:
# Compile the model
model.compile(optimizer='Adam', loss='mean_squared_error')

In [11]:
# Fit the mode
model.fit(predictors, target)

Epoch 1/10
569/569 [==============================] - 1s - loss: 6941.7932       
Epoch 2/10
569/569 [==============================] - 0s - loss: 495.9379      
Epoch 3/10
569/569 [==============================] - 0s - loss: 86.9389      
Epoch 4/10
569/569 [==============================] - 0s - loss: 22.3067      - ETA: 0s - loss: 22.7700
Epoch 5/10
569/569 [==============================] - 0s - loss: 13.5091     
Epoch 6/10
569/569 [==============================] - 0s - loss: 10.1234     
Epoch 7/10
569/569 [==============================] - 0s - loss: 8.6250      
Epoch 8/10
569/569 [==============================] - 0s - loss: 7.8568     
Epoch 9/10
569/569 [==============================] - 0s - loss: 7.3271     
Epoch 10/10
569/569 [==============================] - 0s - loss: 6.9735     

In [12]:
# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

**Classification **
- 'categorical_crossentropy' as loss function
- 'softmax' activation function

In [2]:
from keras.utils import to_categorical

In [16]:
predictors = cancer.data
target = to_categorical(cancer.target)
model = Sequential()

# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

# Add the first layer
model.add(Dense(100, activation='relu', input_shape=(n_cols, )))

# Add the second layer
model.add(Dense(100, activation='relu'))

# Add the second layer
model.add(Dense(100, activation='relu'))

# Add the output layer
model.add(Dense(2, activation='softmax'))

In [17]:
model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [18]:
model.fit(predictors, target)

Epoch 1/10
569/569 [==============================] - 2s - loss: 6.0053 - acc: 0.6274      
Epoch 2/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 3/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 4/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 5/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 6/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 7/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 8/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 9/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     
Epoch 10/10
569/569 [==============================] - 0s - loss: 6.0053 - acc: 0.6274     

In [13]:
# Load Titanic dataset
df = pd.read_csv('train.csv')
df.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
df.Embarked.replace('C', 0, inplace=True)
df.Embarked.replace('S', 1, inplace=True)
df.Embarked.replace('Q', 2, inplace=True)
df.Sex.replace('male', 1, inplace=True)
df.Sex.replace('female', 0, inplace=True)
df.dropna(inplace=True)

In [14]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500       1.0
1         1       1    0  38.0      1      0  71.2833       0.0
2         1       3    0  26.0      0      0   7.9250       1.0
3         1       1    0  35.0      1      0  53.1000       1.0
4         0       3    1  35.0      0      0   8.0500       1.0

In [15]:
df.tail()

     Survived  Pclass  Sex   Age  SibSp  Parch    Fare  Embarked
885         0       3    0  39.0      0      5  29.125       2.0
886         0       2    1  27.0      0      0  13.000       1.0
887         1       1    0  19.0      0      0  30.000       1.0
889         1       1    1  26.0      0      0  30.000       0.0
890         0       3    1  32.0      0      0   7.750       2.0

In [16]:
df.shape

(712, 8)

In [17]:
df.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,0.404494,2.240169,0.636236,29.642093,0.514045,0.432584,34.567251,0.856742
std,0.491139,0.836854,0.481420,14.492933,0.930692,0.854181,52.938648,0.449077
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,20.000000,0.000000,0.000000,8.050000,1.000000
50%,0.000000,2.000000,1.000000,28.000000,0.000000,0.000000,15.645850,1.000000
75%,1.000000,3.000000,1.000000,38.000000,1.000000,1.000000,33.000000,1.000000
max,1.000000,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200,2.000000

In [18]:
# Predictors
predictors = df.drop('Survived', axis=1).as_matrix()

# n cols
n_cols = predictors.shape[1]

In [19]:
n_cols

7

In [20]:
df.keys()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [21]:
# Convert the target to categorical: target
target = to_categorical(df.Survived)

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols, )))

# Add the output layer
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Fit the model
model.fit(predictors, target)

Epoch 1/10
712/712 [==============================] - 1s - loss: 2.3366 - acc: 0.5604      
Epoch 2/10
712/712 [==============================] - 0s - loss: 0.7594 - acc: 0.5969     
Epoch 3/10
712/712 [==============================] - 0s - loss: 0.6169 - acc: 0.7093     
Epoch 4/10
712/712 [==============================] - 0s - loss: 0.6055 - acc: 0.7121     
Epoch 5/10
712/712 [==============================] - 0s - loss: 0.5929 - acc: 0.7135     
Epoch 6/10
712/712 [==============================] - 0s - loss: 0.5827 - acc: 0.7261     
Epoch 7/10
712/712 [==============================] - 0s - loss: 0.5796 - acc: 0.7191     
Epoch 8/10
712/712 [==============================] - 0s - loss: 0.5698 - acc: 0.7247     
Epoch 9/10
712/712 [==============================] - 0s - loss: 0.5657 - acc: 0.7275     
Epoch 10/10
712/712 [==============================] - 0s - loss: 0.5561 - acc: 0.7261     

In [3]:
# Saving reloading and using your model
from keras.models import load_model

In [22]:
# Save model
model.save('model_file.h5')

In [9]:
model = load_model('model_file.h5')

In [23]:
# Load testing data
df_test = pd.read_csv('test.csv')

In [24]:
# Clean and format df
df_test.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
df_test.Embarked.replace('C', 0, inplace=True)
df_test.Embarked.replace('S', 1, inplace=True)
df_test.Embarked.replace('Q', 2, inplace=True)
df_test.Sex.replace('male', 1, inplace=True)
df_test.Sex.replace('female', 0, inplace=True)
df_test.dropna(inplace=True)

In [25]:
df_test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         2
1       3    0  47.0      1      0   7.0000         1
2       2    1  62.0      0      0   9.6875         2
3       3    1  27.0      0      0   8.6625         1
4       3    0  22.0      1      1  12.2875         1

In [26]:
# pred data
pred_data = df_test.as_matrix()

# Calculate predictions: predictions
predictions = model.predict(pred_data)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:,1]

# print predicted_prob_true
print(predicted_prob_true)

[ 0.26338407  0.13541934  0.22170825  0.21715295  0.27029818  0.32630152
  0.34734413  0.45120192  0.215838    0.26684004  0.42503971  0.74568462
  0.18865672  0.75837237  0.44427949  0.38849932  0.16029659  0.21428339
  0.11951177  0.52408379  0.25581115  0.64367104  0.95415801  0.12414476
  0.74857742  0.15504229  0.52332813  0.24411778  0.37129724  0.27699077
  0.56133294  0.16936845  0.30203307  0.23152275  0.12237553  0.15732205
  0.37937939  0.7071656   0.22163987  0.37699792  0.80196577  0.25016856
  0.63498992  0.25135094  0.449635    0.89230764  0.24067943  0.17956012
  0.21994533  0.90940005  0.25985137  0.30709028  0.25383401  0.39712152
  0.9434678   0.42611569  0.59916222  0.46678221  0.97565162  0.38480818
  0.24013102  0.25465775  0.47236863  0.89723051  0.81580067  0.30512539
  0.31452397  0.38480818  0.31534624  0.93224251  0.38869348  0.36737886
  0.31417888  0.64102095  0.33515635  0.77334815  0.47513777  0.22084256
  0.76348174  0.20408356  0.30147666  0.18825904  0.65679008  0.39725727
  0.21622358  0.17888834  0.3800438   0.33746585  0.41387516  0.18628617
  0.57965952  0.41551211  0.94976139  0.21233338  0.7149592   0.72097301
  0.49711704  0.58427727  0.6900965   0.20441183  0.48499742  0.23472017
  0.25104815  0.22699553  0.19229861  0.26971498  0.15070447  0.22576767
  0.14176986  0.33663169  0.28655389  0.53138608  0.22814398  0.90682113
  0.92854559  0.48177862  0.47907811  0.13756624  0.23635928  0.40456212
  0.76696146  0.22603875  0.19888683  0.22386906  0.91897017  0.28512251
  0.47907811  0.28865924  0.30264178  0.42054087  0.25598621  0.42172435
  0.57225341  0.35640666  0.2987628   0.14018238  0.25462654  0.27302518
  0.72537601  0.69028425  0.49443197  0.71821904  0.85176808  0.31452397
  0.68269688  0.69152033  0.90803343  0.28197825  0.60730195  0.16732706
  0.26098737  0.36058953  0.33270729  0.24341214  0.64928246  0.18718868
  0.93744105  0.31206083  0.33526963  0.84516525  0.8617692   0.54402912
  0.32364789  0.3193137   0.32943273  0.56060046  0.22145952  0.3533054
  0.61409163  0.25101301  0.07240094  0.6242826   0.90327203  0.899382
  0.22812635  0.2411402   0.40823358  0.2394782   0.33694503  0.23002815
  0.19672076  0.28161356  0.58188951  0.69486332  0.18549801  0.63618273
  0.24468812  0.61525446  0.16386902  0.44009873  0.82615781  0.32970086
  0.47334722  0.78711611  0.62078393  0.57940853  0.39762488  0.49711704
  0.78686386  0.24515696  0.65331441  0.23510709  0.19838716  0.20911467
  0.51163089  0.23934245  0.18290862  0.23985928  0.5400964   0.69934267
  0.21951522  0.27208555  0.75714171  0.75408477  0.54303497  0.30661929
  0.32879016  0.33773887  0.3411572   0.29105937  0.67003667  0.35116464
  0.70914954  0.17240161  0.6569863   0.34191838  0.80170429  0.18421645
  0.21695724  0.74093509  0.70238513  0.20367147  0.19077203  0.28940278
  0.23086728  0.30701602  0.82594925  0.7540977   0.83355707  0.17504567
  0.26007286  0.15678161  0.30807942  0.91355956  0.43937612  0.83633566
  0.37683627  0.21230252  0.37987766  0.21622358  0.14664173  0.33663169
  0.53184319  0.94195169  0.22533187  0.49581394  0.76491082  0.38750347
  0.39844498  0.56455547  0.4343369   0.27106804  0.2125487   0.54320133
  0.30329344  0.09516471  0.54531974  0.38870266  0.18969071  0.99498296
  0.3240566   0.33663169  0.14023076  0.37183926  0.51414806  0.79347754
  0.32364789  0.6225931   0.66693056  0.80317622  0.37682736  0.54811323
  0.26381269  0.07976948  0.54874468  0.51414806  0.21715295  0.64296985
  0.63913214  0.76974607  0.23108317  0.3033022   0.82462472  0.20113078
  0.2413644   0.86090273  0.94264942  0.19484825  0.37125114  0.62374645
  0.31088221  0.3091616   0.38989434  0.73283738  0.22527219  0.18451712
  0.33689919  0.26399663  0.73552549  0.67788607  0.48378015  0.21190709
  0.17657436  0.69596213  0.31562215  0.80083203  0.23458636  0.28087556
  0.90168762  0.286897    0.74710405  0.65948802  0.30768833  0.30375031
  0.27650172  0.84826207  0.62437439  0.87780404  0.25862345  0.84559911
  0.16324864]